* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #C9E3AC;
    font-family: 'Fira Sans', Verdana;
    color: black;
}

/* ------------------------------------------------HEADER------------------------------------------------ */

header {
    height: 90px;
    background-color: #90BE6D;
    position: sticky;
    top: 0;
    z-index: 1000;
}


header nav img {
    height: 80px;
    margin-left: 10px;
}

header nav ul {
    font-size: 25px;
    background-color: #90BE6D;
    background-size: 100%;
    border-radius: 10px;
}

header nav li {
    margin-left: 5px;
    margin-right: 100px;
}

header ul a {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
}

/* ------------------------------------------------HEADER------------------------------------------------ */

/* -------------------------------------------------MAIN------------------------------------------------ */

.fondoIndex {
    position: relative;
    height: 900px;
    width: 100%;
}

.fondoIndex::before {
    content: "";
    position: absolute;
    background-image: url("../multimedia/Fumigacion-1-1.jpeg");
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}

.fondoIndex main {

}

.mainIndex h1 {
    margin: 40px;
    z-index: 9;
    color: white;
    font-size: 90px;
}

/* -------------------------------------------------FOOTER------------------------------------------------ */

footer {
    height: 90px;
}

.redes img {
    width: 30px;
}