* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #C9E3AC;
    font-family: 'Fira Sans', Verdana;
    color: black;
}

/* ------------------------------------------------HEADER------------------------------------------------ */

header {
    height: 90px;
    background-color: #90BE6D;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav img {
    height: 80px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

nav ul {
    font-size: 25px;
    margin-left: 100px;
}

nav li {
    margin-right: 80px;
}

nav ul a {
    text-decoration: none;
    color: black;
}

/* ------------------------------------------------HEADER------------------------------------------------ */

/* -------------------------------------------------MAIN------------------------------------------------ */

.fondoIndex {
    position: relative;
    height: 900px;
    width: 100%;
}

.fondoIndex::before {
    content: "";
    position: absolute;
    background-image: url("../multimedia/Fumigacion-1-1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
    width: 100%;
    opacity: 0.4;
    z-index: -1;

}

.mainIndex {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mainIndex h1 {
    margin: 40px 40px;
    z-index: 9;
    color: white;
    font-size: 90px;
}

.mainContacto {
    background-color: #EA9010;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainContacto h1{
    text-align: center;
    font-size: 30px;
    width: 700px;
    background-color: #eea43c;
    margin-top: 30px;
}

.mainContacto p {
    margin: 30px;
    font-size: 20px;
    text-align: center  ;

}
/* -------------------------------------------------SECTION------------------------------------------------ */


.sectionIndex {
    width: 70%;

}

.sectionIndex h2 {
    margin-top: 40px;
    margin-left: 50px;
    font-size: 30px;
}

.contactButton {
    margin: 40px 60px;
}

.contactButton button {
    height: 50px;
    font-size: 30px;
}

.sectionContacto {
    margin: 30px 0 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

form input {
    height: 30px;
}

.botonForm{
    margin-top: 30px;
    height: 35px;
    font-size: 20px;
}

/* -------------------------------------------------FOOTER------------------------------------------------ */

footer {
    height: 140px;
    background-color: #37371F;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.a {
    margin-top: 48px;
}

.redes img {
    width: 30px;
}

h6 {
    font-size: 15px;
    color: white;
}

@media (max-width: 768px) {
    header {
        height: auto;
    }
    
    nav {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul {
        margin: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }
    
    .fondoIndex::before {
        height: 900px;
    }
    
    .mainIndex h1 {
        margin: 20px;
        font-size: 60px;
    }
    
    .sectionIndex h2 {
        font-size: 26px;
        margin-left: 20px;
    }
    
    .contactButton {
        margin: 20px;
    }
    
    .contactButton button {
        margin-top: 50px;
        width: 200px;
        height: 100px;
        font-size: 25px;
    }
    
    
    footer {
        height: auto;
        padding: 10px;
    }
    
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .a {
        margin-top: 20px;
    }
    
    .redes img {
        width: 25px;
    }
    
    h6 {
        font-size: 12px;
    }
}

@media (max-width: 430px) {
    .fondoIndex::before {
        height: 900px;
    }

    .mainIndex {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mainIndex h1 {
        font-size: 50px;
    }

    .sectionIndex h2 {
        margin-top: 0;
        font-size: 20px;
    }

    .contactButton button {
        margin-top: 30px;
        height: 100px;
        font-size: 30px;
    }

    .mainContacto h1 {
        font-size: 25px;
    }

    .mainContacto p {
        font-size: 15px;
        margin: 20px;
    }
}